body {
    background: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
    height: 100vh;
    justify-content: center;
}

h1 {
    margin-bottom: 20px;
    opacity: 0.8;
}

.copyright {
    margin:100px auto 0;
    color:#555555
}

.keys {
    display: grid;
    grid-template-columns: repeat(3, 70px);
    grid-gap: 12px;
}

.key {
    width: 70px;
    height: 70px;
    border: 2px solid #444;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    background: #222;
    transition: 0.1s ease;
    user-select: none;
}

.key.active {
    background: #00c3ff;
    border-color: #00faff;
    color: black;
    box-shadow: 0 0 15px #00eaff;
}

/* Position WASD in shape */
#key-w { grid-column: 2; }
#key-a { grid-column: 1; }
#key-s { grid-column: 2; }
#key-d { grid-column: 3; }